.transfer {
  margin: 20px auto;
  width: 50%;
  text-align: center;
}

.transfer-title {
  text-align: center;
}

.transfer-input {
  width: 80%;
  margin: 20px auto;
}

.transfer-input input {
  width: 80%;
  display: block;
  margin: auto;
}
